<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>BUS WTF - Wait Time Forecast - Seattle</title>
  <!-- Bootstrap core CSS-->
  <link href="static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <!-- Custom fonts for this template-->
  <link href="static/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <!-- Custom styles for this template-->
  <link href="static/css/sb-admin.css" rel="stylesheet">
  <!-- leaflet link-->
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.1/dist/leaflet.css"
   integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ=="
   crossorigin=""/>

   <!-- Make sure you put this AFTER Leaflet's CSS -->
   <script src="https://unpkg.com/leaflet@1.3.1/dist/leaflet.js"
  integrity="sha512-/Nsx9X4HebavoBvEBuyp3I7od5tA0UzAxs+j83KgC8PU0kgB4XiK4Lfe4y4cgBtaRJQEIFCW+oC506aPT2L1zw=="
  crossorigin=""></script>

  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script type="text/javascript" src="https://d3js.org/d3.v5.min.js"></script>
  <script>

  var selected_routes_layer;
  var selected_stops_layer;
  var selected_map_stop;
  var direction_number = [];
  var selected_route_shape = [];

  route_internal = function(){
    user_route = $("#routeSelect").val()

    user_info = {user_route : user_route}

    $.post({
      url: "/route_internal",
      contentType: "application/json",
      data: JSON.stringify(user_info),
      success: function(result){
      directions = result.directions
      selected_route_shape = result.selected_route_shape
      populate_dropdown("directionSelect", "select a direction", directions)
      $("#selected_map_stop").empty();
      if (typeof selected_routes_layer == 'undefined') {
          route_shape_change()
      }
      else {
          clearRouteShape()
          route_shape_change()
      }
      if (typeof selected_stops_layer != 'undefined') {
          clearStopShape()
      }
      }
    });
  }

  direction_internal = function(){
    user_route = $("#routeSelect").val()
    user_direction = $("#directionSelect").val()

    user_info = {user_route : user_route, user_direction : user_direction}

    $.post({
      url: "/direction_internal",
      contentType: "application/json",
      data: JSON.stringify(user_info),
      success: function(result){
      route_names = result.route_names
      current_route_name = result.current_route_name
      current_direction = result.current_direction
      direction_number = result.direction_number
      stop_names = result.stop_names
      selected_route_shape = result.selected_route_shape
      //populate_dropdown("stopSelect", "select a stop", stop_names)
      clearRouteShape()
      route_shape_change()
      if (typeof selected_stops_layer == 'undefined') {
          stop_shape_change()
      }
      else {
          clearStopShape()
          stop_shape_change()
      }
      }
    });
  }

  stop_internal = function(){
    user_route = $("#routeSelect").val()
    user_direction = $("#directionSelect").val()
    user_stop = $("#selected_map_stop").text()

    user_info = {user_route : user_route, user_direction: user_direction,
                user_stop: user_stop}

    $.post({
      url: "/stop_internal",
      contentType: "application/json",
      data: JSON.stringify(user_info),
      success: function(result){
          directions = result.directions
          stop_names = result.stop_names
          hours = result.hours
          selected_route_shape = result.selected_route_shape
          populate_dropdown("hourSelect", "hours", hours)


      }
    });
  }

  function populate_dropdown(id, default_option, list) {
                $("#"+id).empty()
                $("#"+id).append($("<option />").attr("selected","selected").text(default_option));
               $.each(list, function(key, value) {
                   $("#"+id).append($("<option />").val(value).text(value));
               });
       }




  </script>





  <style>
    .bar {fill:orange;stroke:orange;fill-opacity:0.5;}
    .axis { font: 16px sans-serif; }
    .chart_title { font: 20px sans-serif; }
    .hidden {
	  display: none;
	}
    #mapid { height: 350px; width: 100%; float: left;}

    img { display:block;
        margin: auto;}


    .column {
    float: left;
    width: 50%;
    padding: 10px;
}


    .row:after {
    content: "";
    display: table;
    clear: both;
}
    .description {
        padding-right:35px;
        padding-left: 35px;
        text-align: center;

    }

    .btn {

        border: 1px solid #00000054;
        padding: .15rem .5rem;
    }
    body { padding-top: 70px; }

  </style>
</head>

<body class="fixed-nav sticky-footer bg-dark" id="page-top">
  <!-- Navigation-->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
    <a class="navbar-brand" href="/">BUS WTF - Wait Time Forecast - BETA</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
              <!--
            <li class="nav-item mx-0 mx-lg-1">
              <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#portfolio">About</a>
            </li>
        -->
            <li class="nav-item mx-0 mx-lg-1">
              <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="https://github.com/sidetrackedmind/seattle-bustime">GitHub</a>
            </li>
            <!--
            <li class="nav-item mx-0 mx-lg-1">
              <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#contact">Methodology</a>
            </li>
        -->
          </ul>
        </div>
  </nav>
  <div class="content-wrapper">
    <div class="container-fluid">
      <!-- User Input Area-->
      <section id="header">
      <div class="card mb-3">
        <div class="card-header">

            <h4 align="center">Welcome to a Bus Wait Time Forecaster for King County Metro.</h4>
                <h4 align="center">First, select a Route and Direction.</h4>

           </div>

        <div class="user_inputs" align="center">
                <tr>
                <td>Route</td>
                <td>
                  <select name="routeSelect" id="routeSelect" class="selectRoute" onchange="route_internal()">
                      {% for route in route_names %}
                  		{% if route == current_route_name %}
                  			<option value="{{ current_route_name }}" selected="selected">{{ current_route_name }}</option>
                  		{% else %}
                  			<option value="{{ route }}">{{ route }}</option>
                  		{% endif %}
                  	{% endfor %}
                  </select>
                </td>
                <td>Direction</td>
                <td>
                  <select id="directionSelect" onchange="direction_internal()">
                  </select>
                </td>
            </tr>
            <div class="card-header">
            <h4>Then select your Stop from the map below.</h4>
            </div>
            <div id="selected_map_stop"></div>
            </div>
        <div class="map_box" align="center">
        <!-- Map Area-->
        <div class="col-md-8" >
        <div id="mapid"></div>
        <div>
            <h4 align="center">Now select a Date, Hour and hit Submit!</h4>
        </div>
        <tr>
            <td>Date</td>
            <input id="dateSelect" name="dateSelect" type="date" value="{{ current_date }}"/>
            <td>Hour</td>
            <select id="hourSelect" >
            </select>
            <div class="btn-group" role="group" aria-label="...">
            <button onclick="predict()" class="btn btn-default">Submit</button>
            </div>
        </tr>
        </div>
        </div>
        </section>
            <div class="row">

            <div class="col-md-6" id="chart">  </div>
          </div>
            <tr>
                <h3 id="prediction"></h3><h3 id="confidence_int"></h3>
            </tr>
        <div class="row">
        <div class="col-md-6" >
            <h2 align="center">Histogram of Bus Arrival Times</h2>
            <p class="description">Imagine that you sat at a bus stop in Seattle
                and you tracked the bus arrival compared to the scheduled time.
                After logging all the arrivals, you could create a histogram, like below,
                where the height of the bar represents the number of observations for each arrival time.
                The histogram below is a representation of arrival times for a generic bus stop.
                The darker area contains 90% of all arrival times. </p>
            <img width=100% src="https://s3-us-west-2.amazonaws.com/bus-wait-time-forecast/static/percentiles-01.png">
                        </div>
        <div class="col-md-6" >
            <h2 align="center">Arrival Time Prediction</h2>
            <p class="description" >When you hit submit, the model will predict a bus arrival time. The time will appear as a red bar.
                The time indicates a "predicted deviation from schedule". If the time is positive, the bus is expected to be late.
                If the time is negative, the bus is predicted to be early. In addition to the prediction, a horizontal bar will appear. The width of the bar illustrates
                 the range of arrival times for your selected stop at the selected hour. The bar is a visual representation of the
                 darker area of the histogram.
                </p>
            <img width=100% src="https://s3-us-west-2.amazonaws.com/bus-wait-time-forecast/static/percentiles-02.png">
                        </div>
        </div>

      <!-- Prediction Space-->
      <hr>
  </div>
</div>
</div>
    <footer class="sticky-footer">
      <div class="container">
        <div class="text-center">
          <small>Copyright © Benjamin Malnor 2018</small>
        </div>
      </div>
    </footer>
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
      <i class="fa fa-angle-up"></i>
    </a>
    <!-- Logout Modal-->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
          <div class="modal-footer">
            <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
            <a class="btn btn-primary" href="login.html">Logout</a>
          </div>
        </div>
      </div>
    </div>
    <script>


    predict = function(){
	  user_route = $("#routeSelect").val()
      user_direction = $("#directionSelect").val()
	  user_stop = $("#selected_map_stop").text()
      user_hour = $("#hourSelect").val()
      user_date = $("#dateSelect").val()

	  user_info = {user_route : user_route, user_direction :
          user_direction, user_stop : user_stop,
          user_hour : user_hour, user_date : user_date}

	  $.post({
	    url: "/predict",
		contentType: "application/json",
		data: JSON.stringify(user_info),
		success: function(result){
    	prediction = Math.round(result.prediction)
        conf_interval_10 = Math.round(result.conf_interval_10)
        conf_interval_90 = Math.round(result.conf_interval_90)

        $("#chart").html("")

        predict_graph(prediction, conf_interval_10, conf_interval_90)

		}
	  });
	}



    predict_graph = function(prediction, conf_interval_10, conf_interval_90){

    var prediction = prediction
    var conf_interval_10 = conf_interval_10
    var conf_interval_90 = conf_interval_90
    if (isNaN(conf_interval_10)){
        conf_interval_10 = 0
    }
    if (isNaN(conf_interval_90)){
        conf_interval_10 = 0
    }
    var data = [{
			"name": "Vivek",
			"value": 40
		}];

        var margin = {
            top: 15,
            right: 100,
            bottom: 50,
            left: 100
        };
        var width = $(window).width() - margin.left - margin.right,
            height = 200 - margin.top - margin.bottom;

        var svg = d3.select("#chart").append("svg")
                    .attr("width", width + margin.left + margin.right)
                    .attr("height", height + margin.top + margin.bottom)
                    .append('g');


        var xScale = d3.scaleLinear()
            .range([margin.left, width+margin.left])
            .domain([-20, 20]);

        xAxis = d3.axisBottom()
                .scale(xScale);


      svg.append('g')
        .attr('class','axis')
        .attr("transform", "translate(0," + height + ")")
        .call(xAxis)

        svg.append("text")
            .attr("class", "chart_title")
            .attr("transform", "translate(" + (margin.left + (width/2)) + " ," +
                                        (height + margin.top + (height/4) )+ ")")
            .style("text-anchor", "middle")
            .text("Deviation From Schedule (Minutes)");

        var bars = svg.selectAll(".bar")
            .data(data)
            .enter()


        var yaxisPoint = xScale(conf_interval_10)
        var bar_width = xScale(conf_interval_90) - yaxisPoint
        var right_text = yaxisPoint + bar_width

        var t = d3.transition()
                    .duration(750)
                    .ease(d3.easeLinear);


        //append rects
        bars.append("rect")
            .attr("class", "bar")
            .attr("y", (2*height)/3)
            .attr("height", height/4)
            .attr("x", yaxisPoint)
            .attr("width", bar_width)

        bars.append("text")
            .attr("class", "label-right")
            .attr("y", (2*height)/3+(height/8))
            .attr("x", right_text+7)
            .style("text-anchor", "left")
            .text(conf_interval_90)

        bars.append("text")
            .attr("class", "label-left")
            .attr("y", (2*height)/3+(height/8))
            .attr("x", yaxisPoint-20)
            .style("text-anchor", "right")
            .text(conf_interval_10)

        svg.append("line")
                .attr("x1", xScale(prediction))
                .attr("y1", (3*height)/6)
                .attr("x2", xScale(prediction))
                .attr("y2", ((2*height)/3)+height/4)
                .attr("stroke-width", 10)
                .attr("stroke", "#980000")

        var pred_text = svg.append("text")
                        .attr("y", (4*height)/9)
                        .attr("x", xScale(prediction))
                        .style("text-anchor", "middle")
                        .text(prediction)

                    }
    </script>
    <!--
    <script src="static/js/map_script.js"></script>
    -->
    <script src="static/js/all_route_lines.js"></script>
    <script src="static/js/KCM_stop_shapes.js"></script>
    <script src="static/js/stop_routes.js"></script>
    <script src="static/js/stop_info.js"></script>
    <script>
    var mymap = L.map('mapid').setView([47.60, -122.32], 13);

    L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={accessToken}', {
    attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="http://mapbox.com">Mapbox</a>',
    maxZoom: 18,
    id: 'mapbox.streets',
    accessToken: 'pk.eyJ1IjoiYm1hbG5vciIsImEiOiJjamQ0Mmd4NmwwZHNyMzNyenZ5eGZ2YjFuIn0.OdTGjMcYBOji2YGX3hvmjA'
    }).addTo(mymap);
    </script>

    <script>
    //var selected_stop_shape = {{selected_stop_id}}


    if (direction_number.length < 1) {
        direction_number = [0,1]
    }

    var num_directions = direction_number.length;

    clearRouteShape = function() {

        selected_routes_layer.remove();
    }

    clearStopShape = function() {

        selected_stops_layer.remove();
    }


    route_shape_change = function() {

        var num_shapes = selected_route_shape.length;


    routeFilter = function(feature) {
        for (var i = 0; i < num_shapes; i++) {
            if (feature.properties.group == selected_route_shape[i] ) return true
        }
    }

    selected_routes_layer = L.geoJson(all_route_lines,
        {filter: routeFilter}).addTo(mymap);

    mymap.fitBounds(selected_routes_layer.getBounds(), {
            //padding: [50,50]
    });
    };

    stop_shape_change = function() {

    var route_short_name = $("#routeSelect").val();


    function stopFilter (feature) {
            if (feature.properties.route_short_name == route_short_name
                && feature.properties.direction_id == direction_number) return true
    }

    function zoomStop(e) {
        var justClicked = e.target;
        mymap.fitBounds(justClicked.getBounds());
    }

    function stop_pop_names (e) {
        var layer = e.target;
        layer.bindPopup(feature.properties.stop_name);
    }

    function resetHighlights (e) {
        selected_stops_layer.resetStyle(e.target);
    }

    function resetMapStyle() {
        mymap.eachLayer(function(layer){
            layer.setStyle(defaultMarkerStyle)});
    }

    function highlightStop (e) {
        var layer = e.target;
        layer.setStyle(clickedMarkerStyle);
    }



    var defaultMarkerStyle = {
    radius: 5,
    fillColor: "#E14040",
    color: "#E14040",
    weight: 1,
    opacity: 0.8,
    fillOpacity: 0.8
    };

    var clickedMarkerStyle = {
    radius: 10,
    fillColor: "#f49b42",
    color: "#f49b42",
    weight: 1,
    opacity: 1,
    fillOpacity: 1
    };


    function clickFeature(e) {
        selected_stops_layer.setStyle(defaultMarkerStyle);
        var justClicked = e.target;
        selected_map_stop = justClicked.feature.properties.stop_name;
        stop_internal(),
        justClicked.setStyle(clickedMarkerStyle),
        //justClicked.bindPopup("<h3>" + selected_map_stop + "</h3>"),
        $("#selected_map_stop").empty(),
        $("#selected_map_stop").append($("<h4 />").val(selected_map_stop).text(selected_map_stop));
        //mymap.fitBounds(justClicked.getBounds());
    }

    function stopOnEachFeature (feature, layer) {
        layer.on(
            {
                click: clickFeature

            }
        )
    }

    function stopPointToLayer(feature, latlng) {
        return L.circleMarker(latlng, defaultMarkerStyle);
    }

    selected_stops_layer = L.geoJson(stop_info,
        {
            pointToLayer: stopPointToLayer,
            filter: stopFilter,
            onEachFeature: stopOnEachFeature

        }).addTo(mymap);

    }


    </script>
    <script>






    </script>

    <script>



    </script>

    <!-- Bootstrap core JavaScript-->
    <script src="static/vendor/jquery/jquery.min.js"></script>
    <script src="static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- Core plugin JavaScript-->
    <script src="static/vendor/jquery-easing/jquery.easing.min.js"></script>
    <!-- Page level plugin JavaScript-->
    <!-- Custom scripts for all pages-->
  </div>
</body>

</html>
